[2021-02-23 12:34] PauloASilva opened #2 "Broken signup password validation"
According to [the error message][1], password should meet the following requirements: "_Password should contain at least one digit, one small letter and one capital letter and should at least contain 8 characters._"

Password is validated using [the following regular expression][2]: `/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$/`.

Although used regular expression matches [`A123456c` as a valid passwo

[2021-04-13 16:58] jpeezus opened #4 "Error during Docker deployment"
When I attempt to build images using the docker deployment method I am getting the following error
deploy/docker/build-all.sh

root@ubuntu:~$ sudo crAPI/deploy/docker/build-all.sh
+ set -e
+ dirname crAPI/deploy/docker/build-all.sh
+ cd crAPI/deploy/docker
+ find ../../services/ -name build-image*
+ scripts=../../services/community/build-image.sh
../../services/web/build-image.sh
../../services/id

[2021-04-13 17:43] jpeezus commented on #4
I updated to the latest docker-ce  version for my ubuntu instance and not It appears to be working. I will confirm before I close this ticket.

[2021-04-14 23:50] #4 closed

[2021-04-15 19:56] jpeezus opened #5 "Standalone K8s Deployment"
Is there a plan to make a non-Minikube K8s version to deploy? If this is possible in this deployment please advise. Thanks all for this great website for testing.

[2021-04-28 18:51] topher12093 opened #6 "Profile Picture image not loading on Community Forum"
Hi!

I'm able to change my profile picture on the my-profile page. However, when I then comment on a post on the Community page and/or create a new post, I'm not seeing my profile picture load. Is this a bug? Part of any challenge?

Thanks!
Chris

Running in docker
<img width="1634" alt="Screen Shot 2021-04-28 at 1 50 07 PM" src="https://user-images.githubusercontent.com/8628929/116457235-c1e37680

[2021-05-06 15:51] #5 closed

[2021-06-20 15:22] ehog opened #7 "OAS Specification"
Hello, would it be possible to please provide an OAS or Swagger specification for the APIs in _/crAPI/blob/develop/services/web/src/constants/APIConstant.js_?

This would help in deploying and managing the APIs in this project with an API gateway.

[2021-07-27 12:58] unaPoloGTIc opened #9 "'crapi-identity' container killed shortly after docker-compose up"
On 'develop' branch, last commit is
`commit 32317977436a1b69959d7617e0c4c7875c9bcd85 (HEAD -> develop, origin/develop, origin/HEAD)
Merge: edf286c e36040f
Author: Roshan Piyush <roshan.piyush@traceable.ai>
Date:   Tue Jul 20 22:48:13 2021 +0530

    Merge pull request #3 from PauloASilva/fix/typos

    fix: typos on signup form & welcome email`

starting with
`$ docker-compose -f deploy/docker/doc

[2021-08-02 10:27] piyushroshan commented on #9
Seems like your instance of crapi-identity took more than 120s to start. Please change the timeout in Dockerfile from WAIT_HOSTS_TIMEOUT=120 to WAIT_HOSTS_TIMEOUT=240 and verify.

[2021-08-15 04:30] #9 closed

[2021-09-01 10:21] unaPoloGTIc commented on #9
Hi @piyushroshan thanks for the suggestion,
240 is the new default I see after pulling, I tried 700 as well, still the same.

[2021-09-13 19:59] n-romaniv opened #11 "Unable to run on Apple Silicon Mac"
It looks like the reason is that crapi-community container fails to start with the following log:
[code]

Here is my system info:

MacBook Pro (13-inch, M1, 2020)
Docker version 20.10.8, build 3967b7d

[2021-09-13 20:18] n-romaniv commented on #11
It appears that chaning the value of `GOARCH` in `services/community/Dockerfile` fixes the issue.

[2021-10-16 23:13] takhan0414 opened #12 "I am receiving a pull access denied for crapi-identity"
I am receiving a `Continue with the new image? [yN]y
Pulling crapi-identity (crapi-identity:)...
ERROR: pull access denied for crapi-identity, repository does not exist or may require 'docker login': denied: requested access to the resource is denied`

Please assist as its unable to find the repo

[2021-11-29 21:49] jaemae opened #13 "criapi-workshop fails to build"
I am experiencing problems building the criapi application.  crapi-workshop image will not build.  Are there detailed instructions on how to get the application up and running.
![image](https://user-images.githubusercontent.com/94505715/143949149-6e0e0dce-6331-4c1d-af8b-8f1515e2e2a8.png)

getting this error "/bin/sh: /app/runner.sh: not found"

[2021-12-01 23:05] xieronnie commented on #13
getting same issue. please let us know if you resolve it.

[2021-12-02 01:24] xieronnie commented on #13
This was actually my issue:

ImportError: Error loading shared library libffi.so.7: No such file or directory (needed by /usr/local/lib/python3.8/site-packages/_cffi_backend.cpython-38-x86_64-linux-gnu.so)

I was able to fix it by adding this to workshops Dockerfile

RUN ln -s /usr/lib/libffi.so.8 /usr/lib/libffi.so.7

Basically, it symlinks libffi7 to libffi8

[2021-12-07 05:45] #13 closed

[2021-12-07 05:46] #12 closed

[2021-12-16 16:30] shookim opened #14 "Workshop image is broken - python dependency changed"
Traceback (most recent call last):

  File "manage.py", line 36, in <module>

    main()

  File "manage.py", line 32, in main

    execute_from_command_line(sys.argv)

  File "/usr/local/lib/python3.8/site-packages/django/core/management/__init__.py", line 381, in execute_from_command_line

    utility.execute()

  File "/usr/local/lib/python3.8/site-packages/django/core/management/__init__.py",

[2021-12-17 19:14] MrChocolateBar opened #15 "Can't access http://localhost:8888 after following the setup docker guide"
http://localhost:8025 is working and the docker image is up and running but i cant access the http:8888 path.

[2021-12-21 18:07] gkarabotsos commented on #15
Same exact behavior on my end.

[2021-12-22 04:53] piyushroshan commented on #15
Could you please provide logs till container dies.
`docker logs -f crapi-web`

[2021-12-22 12:25] gkarabotsos commented on #15
Thank you for helping.
Its the `crapi-workshop` that times out.
[code]

[2021-12-22 19:42] idan-aharoni commented on #14
Seems like Alpine broke Crapi?
When looking at the docker it seems like it installs a different version of libffi than the one that crapi needs

[2021-12-22 20:04] piyushroshan commented on #14
Thank you for the context. That gives me enough information to take it further

[2021-12-22 20:23] idan-aharoni commented on #14
@piyushroshan the problem is probably because there is inconsistency between the alpine versions of the workshop, for build 3.13 is being used and for the actual application 3.15 is being used, changing both to the same version should work

[2021-12-22 21:27] #14 closed

[2021-12-22 21:42] piyushroshan commented on #15
Fixed in #16

[2021-12-22 21:42] #15 closed

[2021-12-22 21:45] piyushroshan commented on #14
Thank you for your help. That was exactly the issue. The runtime version of alpine was fixed to latest but build to 3.13. Moved both to 3.15

[2022-02-23 17:55] g78 opened #18 "Unable to connect to webserver"
Hi,

I followed the instructions to clone the repository, the docker install then run it in docker but I am unable to connect to the web server on port 8888.

I can connect to the mail client on port 8025.

I've run netstat -antp and port 8888 is listening but when I try and connect either using firefox or curl the connection is refused.

[2022-03-12 07:54] dravadhis commented on #18
Hi!
I faced the same error after running the deploy command. Fixed it by following the below steps:
1. Navigate to `crAPI/deploy/docker/` and open `docker-compose.yml`.
2. Scroll through the file and uncomment the wherever you see a ports reference. (ports for all services have been commented for some reason). Save the file and exit.
3. Don't run the deploy command right now since the `postgresdb`

[2022-04-11 03:20] comrade99 opened #24 "can't able to run this application"
Successfully install crAPI on docker , but it's not running on localhost.
Any suggestion ??

[2022-04-22 14:01] #18 closed

[2022-04-24 12:45] cakinshin opened #29 "I can't run it on Docker :("

[2022-04-24 13:15] piyushroshan commented on #29
Could you please more information on the errors seen and os info.

[2022-04-24 13:16] #11 closed

[2022-04-24 18:19] vdvcoder commented on #18
Also worked for me on Macbook Air M1

[2022-04-24 19:36] cakinshin commented on #29
hi
I can't  make crapi-workshop to run , it exit with error code 127
I can't understand what it needs

![docker error](https://user-images.githubusercontent.com/16290175/164993343-9470b15b-cd69-4b35-9349-e5ac193ae969.png)
[error log.txt](https://github.com/OWASP/crAPI/files/8550389/error.log.txt)

[2022-04-24 19:46] mathew-jose commented on #29
As you was building the images from a Windows machine, try changing the EoL sequence encoding from CRLF to LF for the file `crAPI\services\workshop\runner.sh` before starting the application. It should be possible using VS Code Editor.

[2022-04-25 19:50] moti13590 commented on #24
same problem

[2022-04-25 20:20] moti13590 commented on #24
Host crapi-workshop:8000 not yet available...

[2022-04-27 19:29] govi123govi opened #33 "unable to install on linux"
when i run build.sh i get this error
sudo ./build-all.sh                                                                                                                                                                                        1 ⨯
+ set -e
+ dirname ./build-all.sh
+ cd .
+ find ../../services/ -name build-image*
+ scripts=../../services/identity/build-image.sh
../../services/web/build

[2022-04-28 07:12] moti13590 commented on #24
Hi, can you send screenshot of the response from crAPI-workshop?

[2022-04-28 08:37] piyushroshan commented on #24
What command did you use to run? And also OS version please

[2022-04-28 09:11] cakinshin commented on #29
hi
I changed EOL but now I'm getting /bin/sh: /app/runner.sh: not found error in crapi-workshop when I try to run it

[2022-04-29 07:16] mathew-jose commented on #29
Could you clone the repo once more? I have added some batch files and written commands specific to Windows machine in the README.

[2022-04-29 19:42] haicenhacks opened #35 "docker-compose fails to start"
running the docker compose command as listed in the readme results in the following:

[code]

OS information: Arch linux kernel 5.15.36-1-lts
Docker Compose version 2.4.1
Docker version 20.10.14, build a224086349

I ran docker-compose without -d, and got the following output:

[code]

Based on my research, 137 is the out of memory killer, which is very strange because I have 32 GB of ram, and ther

[2022-04-29 19:57] haicenhacks commented on #35
I found one more possibly relevant error

`postgresdb       | 2022-04-29 19:56:40.937 UTC [40] FATAL:  role "root" does not exist`

[2022-05-02 14:02] PauloASilva commented on #29
Keep in mind that you can easily run crAPI inside a virtual machine regardless your Operating System as long as you have VirtualBox and Vagrant: https://github.com/OWASP/crAPI#vagrant ;)

[2022-05-03 14:26] PauloASilva commented on #35
Hi @haicenhacks,
meanwhile, in order to start hacking, you can [consider deploying crAPI locally on a virtual machine using vagrant](https://github.com/OWASP/crAPI#vagrant): I've tested it just now based on the `develop` branch and it worked.

Cheers,
Paulo A. Silva

[2022-05-03 14:27] PauloASilva commented on #33
Hi @govi123govi,
meanwhile, in order to start hacking, you can [consider deploying crAPI locally on a virtual machine using vagrant](https://github.com/OWASP/crAPI#vagrant): I've tested it just now based on the `develop` branch and it worked.

Cheers,
Paulo A. Silva

[2022-05-03 21:23] haicenhacks commented on #35
I tried vagrant as well, but it also fails.

[code]

is the last message when I run `vagrant up`. I'm new to vagrant, but since it looks like it is still using docker-compose, so whatever is preventing it from running on my system is also stopping it from running in the vm.

[2022-05-04 05:12] PauloASilva commented on #35
Did you switch to the `develop` branch before running `vagrant up`?

Before my previous comment I've done this and crAPI successfully started.

On Tue, May 3, 2022, 10:23 PM haicen ***@***.***> wrote:

[2022-05-04 08:14] moti13590 opened #39 "Cant see past-orders"
when I tryin to see my past orders it pop up a failed message, it's part of the challenge?
![past-orders](https://user-images.githubusercontent.com/104391485/166644688-8cc5cf42-0092-4bf9-843d-465b597f341d.PNG)

[2022-05-04 10:14] mathew-jose commented on #39
This is a bug caused by an assertion error when the database connection isn't set to UTC time. Removing `USE_TZ = True` in the `services/workshop/crapi_site/settings.py` file should resolve this error.

[2022-05-04 10:45] haicenhacks commented on #35
I did some more testing. vagrant on the main branch successfully builds, but for some reason, the develop branch fails. Even the docker version works on main.

I am on 3b87cbac923698ae101252c22cf8a2ecb4aa5f31 (HEAD -> develop, origin/develop, origin/HEAD)

I guess I'll just stick with the main branch for now.

[2022-05-04 15:46] piyushroshan commented on #39
We have pushed changes to fix this.
We have pre built images now that you can use.
Could you try the following and let us know.

Checkout develop branch and pull the changes.
Run the following to use the develop build images.
[code]

[2022-05-05 10:07] CloudyDay54 opened #41 "Unable to build Docker Image"
After running the command:

_$ deploy/docker/build-all.sh_

The setup freezes at some point (see attached image). It alerts me that caniuse-lite is outdated, and it requests me to run a certain command. Whether I run that command or not, it's as if nothing happens. Kindly check on this.

![image](https://user-images.githubusercontent.com/19374547/166902774-0330faae-b67a-4b7a-9ec2-c66f6fc23956.png)

[2022-05-05 11:29] PauloASilva commented on #35
Hi @haicenhacks,
Would you like to test [PR#42](https://github.com/OWASP/crAPI/pull/42): it should allow you to run crAPI from the `develop` branch using Vagrant.

Cheers,
Paulo A. Silva

[2022-05-06 07:21] moti13590 commented on #39
it works.thanks

[2022-05-06 08:35] #39 closed

[2022-05-07 02:11] haicenhacks commented on #35
Ok, I think we can close this now. docker-compose and vagrant are working again on 78d82134cbfd2917ad8eb75341c6ceb1388f3384

[2022-05-07 02:11] #35 closed

[2022-05-07 05:08] PauloASilva commented on #41
@CloudyDay54 meanwhile you should be able to run latest crAPI changes (from `develop`) using the Vagrant deployment.

First checkout the `develop`:
[code]
And then:
[code]

Since it will build the images and run the docker containers inside a controlled virtual environment there's a lot less that can go wrong.

[2022-05-09 00:22] hnataraj commented on #7
@ehog see here: https://github.com/levoai/demo-apps/blob/main/crAPI/api-specs/openapi.json

[2022-05-10 08:39] PauloASilva commented on #7
Hi @hnataraj,
I had the chance to read your medium post ;)
Wouldn't you like to give back to the community, contributing with a PR to OWASP crAPI?

Cheers,
Paulo A. Silva

[2022-05-11 16:56] hnataraj commented on #7
Sounds good.

Best regards,

Harish

On Wed, May 11, 2022 at 9:52 AM Roshan Piyush ***@***.***>
wrote:

[2022-05-12 12:11] piyushroshan commented on #29
You should be also use prebuilt images. Closing this since there is no further update and multiple workaround.

[2022-05-12 12:11] #29 closed

[2022-05-12 12:12] piyushroshan commented on #33
You should  also be able to use prebuilt images. Refer the docs for the same. Closing this since there is no further update and multiple workaround.

[2022-05-12 12:12] #33 closed

[2022-05-12 12:14] piyushroshan commented on #24
You should also be able to use prebuilt images. Refer the docs for the same. Closing this since there is no further update

[2022-05-12 12:14] #24 closed

[2022-05-23 15:28] guzzisec opened #54 "Unable to create docker image and vagrant vm (kali)"
when i use docker to create the image show me an error "docker container is unhealthy".
in vagrant I can not enter to the crAPI application only to mailhog in port (8025).

[2022-05-23 20:26] guzzisec commented on #54
When i run the box in virtual box only see the (8025) mail service.. but nothing happens in 192.168.33.20.

[2022-05-24 01:15] willmccardell commented on #54
I can confirm this. When I run it across 3 different machines, the instructions provided do not work. In many of the cases, I was seeing different errors each time, but lately it's been a fairly standard error.

crapi-identity exits with status code 137. The dockerfile for it limits the Java max memory to 128mb, but increasing this and rebuilding does not fix the problem.

![image](https://user-im

[2022-05-24 01:45] willmccardell commented on #54
Issue fixed by increasing the memory for the crapi-identity block in docker-compose.yml to be 512M, from 256M.

[2022-05-24 02:26] guzzisec commented on #54
i changed the crapi-identity block from 256M to 512M and don't work for me :(

im run the same command : VERSION=latest docker-compose -f docker-compose.yml --compatibility up -d

![Captura de pantalla de 2022-05-23 21-22-16](https://user-images.githubusercontent.com/78843656/169935972-e2ee8a3b-00b2-405d-9486-11d7021acdc4.png)

[2022-05-24 02:27] guzzisec commented on #54
![Captura de pantalla de 2022-05-23 21-26-21](https://user-images.githubusercontent.com/78843656/169936224-9a525ee5-f4cb-4ffc-a64a-b9d187e7292a.png)

[2022-05-24 08:57] LiorEluse opened #55 "Faliure to login results in an unhandled exception"
**Description**
When sending a post request to the login page (`/identity/api/auth/login`), bad credentials result in an exception raised (From springframework?), in function `authenticateUser` (Raised from calling `authenticateUserLogin`)

One more issue is that you actually mean to return `500` for an unsuccessful login. i.e

`return ResponseEntity.status(HttpStatus.INTERNAL_SERVER_ERROR).body(j

[2022-05-25 00:47] willmccardell opened #56 "Inconsistency in docker-compose due to crapi-identiy low memory limit"
When I run the docker-compose command listed in the readme across 3 different machines, the instructions provided do not work. In many of the cases, I was seeing different errors each time, but lately it's been a fairly standard error:

crapi-identity exits with status code 137.

![image](https://user-images.githubusercontent.com/33265548/169927986-cf669b57-daae-4eeb-bc15-756799fc3224.png)

As you

[2022-05-25 00:50] willmccardell commented on #54
Our issues were actually different, so I created a new issue to track my problem. Exit Code 132 apparently suggests that your CPU architecture is too old, and you may need to either upgrade to a newer machine or do the steps here: https://stackoverflow.com/a/68575327 and troubleshoot. If you have access to AWS and EC2, a basic Ubuntu systems works with my change mentioned above.

[2022-05-25 02:33] guzzisec commented on #54
![Captura de pantalla de 2022-05-24 21-28-01](https://user-images.githubusercontent.com/78843656/170167048-5639a4b7-348e-4170-a601-09cd57270051.png)

yeah! it works in ubuntu EC2 with the modification that you say. Now how can I connect to the crAPI application from the internet or how can I start playing with crAPI? I am a complete noob in EC2.. thanks!

[2022-05-25 02:49] willmccardell commented on #54
If you join the OWASP Slack community listed [here](https://github.com/OWASP/crAPI/blob/develop/.github/CONTRIBUTING.md) and the #crapi channel there I can help you with the details later, but broadly (and kind of insecurely) speaking you have to do two things: get AWS to allow traffic to your instance and get crAPI listening on a remotely-accessible address:
* set the EC2 instance's security grou

[2022-05-25 04:06] guzzisec commented on #54
okay!! Thanks so much

[2022-05-25 10:25] #56 closed

[2022-05-26 09:08] #54 closed

[2022-05-28 08:21] piyushroshan commented on #41
Closing due to inactivity. Should be fixed.

[2022-05-28 08:21] #41 closed

[2022-05-28 08:21] piyushroshan commented on #7
Done

[2022-05-28 08:21] #7 closed

[2022-05-30 08:23] piyushroshan commented on #55
This is fixed

[2022-05-30 08:23] #55 closed

[2022-06-03 11:42] omichels opened #72 "unable to start docker-compose / problem with mongo / UPGRADE PROBLEM: Found an invalid featureCompatibilityVersion document"
I started using crAPI on 2022-05-17 and pulled the the newest version in a separate directory, but was unable to start it

[code]

[code]

` docker logs 7912aa65db4b`

[code]

[2022-06-03 11:46] piyushroshan commented on #72
Looks like you have remnant of old docker volume.
[code]

[2022-06-03 11:47] omichels commented on #72
ok, so upgrades are unsupported

[2022-06-03 11:49] piyushroshan commented on #72
They are. However this was a downgrade as we saw some users facing issues with docker 5.0 on older cpus. So we downgraded to 4.4

[2022-06-03 11:51] piyushroshan commented on #72
You could change the version to 5.x or latest and use the existing volume

[2022-06-04 16:46] stop-a opened #73 "com.crapi.CRAPIBootApplication is having an issue with com.zaxxer.hikari.pool.HikariPool--"org.postgresql.util.PSQLException: The connection attempt failed.""
**Describe the bug**
I cannot get crAPI to start up. The error message is:
[code]
I'm not an expert at docker, so I borrowed steps from another filed issue.

A look at what the last gasp of the container was...
[code]
The log file, a result of ```docker log 1b2afedad26d```
[docker_log_1b2afedad26d.txt](https://github.com/OWASP/crAPI/files/8838253/docker_log_1b2afedad26d.txt)

**To Reproduce**
I ex

[2022-06-04 17:12] piyushroshan commented on #73
Looks like your postgres db did not come up. Could you provide logs for that.

[2022-06-04 17:22] stop-a commented on #73
Certainly!

[code]
The last message repeated a bunch, so I truncated.

[2022-06-04 19:51] piyushroshan commented on #73
Ummm! This looks good. Could be just a startup timing issue.
Could you retry with
[code]
If not resolved, happy to jump on a session with you to debug it out.

[2022-06-04 22:42] stop-a commented on #73
Heading out to dinner soon, so I won't be able to a session until tomorrow.

I pulled down docker-compose.yml again and retried, but got the same result. I don't see a change to docker-compose.yml.

Going through docker-compose.yml it looks like all the images have been the same for a while, so not sure what's changed.

I decided to play the one-of-these-things-is-not-like-the-others game to see i

[2022-06-05 21:23] stop-a commented on #73
What a revolting twist...

Installed Docker Desktop on my Mac. It's running at 12.10.16 of docker.

Go back to dev machine. Pull of Ubuntu's docker--which is at 12.10.14--and install Docker's docker (huh?) per this set of instructions: https://docs.docker.com/engine/install/ubuntu/

Now at 12.10.16 on the dev Ubuntu machine. Change docker-config to 'docker config' and now it works.

LOL. Docker's

[2022-06-05 21:23] #73 closed

[2022-06-08 14:21] jeannovak opened #75 "Vehicleid for existing users not showing up"
When accessing the forum, a GET request to /community/api/v2/community/posts/recent is done to receive information about posts and comments. There are 3 existing posts made by the 3 default users, however there is no information about their vehicles.

![image](https://user-images.githubusercontent.com/42330295/172621717-a02f05d4-407a-4c70-84c9-db8ec9faeccc.png)

Which is honestly not a big deal, y

[2022-06-09 09:06] Beoas commented on #18
I have same problem but my port 8888 isn't listening when I tried netstat -antp  but my port 8025 is listening... I tried to uncomment everywhere I see ports but it as to be commented before it can run.

[2022-06-10 18:12] Beoas opened #76 "Crapi-web not starting"
port 8888 isn't listening when I tried netstat -antp  but port 8025 is listening i.e I can localhost:8025 for mailhog is working on my web browser but localhost:8888 is not working... I tried to uncomment everywhere I saw ports in the yaml file but it as to be commented before it can run it's docker container.  After checking the state using docker inspect crapi-web, the result states that it is i

[2022-06-11 04:54] Ph4t3 commented on #76
Are all other containers healthy? See if you can get the logs by using the command
```docker logs crapi-web```

[2022-06-11 04:58] Ph4t3 commented on #75
I was not able to reproduce this bug. Can you give the logs of crapi-identity container? Run the command
```docker logs crapi-identity```

[2022-06-11 14:16] Beoas commented on #76
Its not working.
" I'm getting illegal instruction (core dumped) " as my output

[2022-06-17 07:55] mathew-jose commented on #76
Could you upload the log file of the identity container to understand which instruction causes this issue.

[2022-06-18 00:00] re4sonzy opened #77 "ERROR: Invalid interpolation format for "crapi-identity" option in service "services": "crapi/crapi-identity:${VERSION:-latest}""
ERROR: Invalid interpolation format for "crapi-identity" option in service "services": "crapi/crapi-identity:${VERSION:-latest}"
[code]

[2022-06-18 06:13] piyushroshan commented on #77
Could you provide you os and shell info?

[2022-06-18 06:16] piyushroshan commented on #77
To simply unblock you please replace the `${VERSION:-latest}` with `latest`

[2022-06-18 08:19] mathew-jose commented on #75
Did this error occur while running the `/community/api/v2/community/posts/recent` API request as the errors indicated in the log files pertains to setting a token. I was not able to replicate this error while pulling the pre-built images from dockerhub.

[2022-06-18 16:42] jeannovak commented on #75
@mathew-jose yes I am running `/community/api/v2/community/posts/recent` API request because its where I can see if the posts were populated correctly after bringing the stack up, but the endpoint itself seems to not be related to the issue.

I updated docker for testing purposes and tested multiple times while removing all volumes and even trying download images again. In any case, I have been ab

[2022-06-18 23:29] re4sonzy commented on #77
Hello, my os is Parrot Sec, shell is the default MATE terminator

[2022-06-26 20:27] mikeacjones commented on #75
Can't reproduce this issue either. Have you attempted to add a vehicle after signup manually via MailHog? I just scripted out some tests, and all posts are showing the vehicle ID.

[2022-06-27 01:16] mikeacjones commented on #6
Proposed fix: https://github.com/OWASP/crAPI/pull/79

[2022-06-27 11:30] mikeacjones commented on #6
And this method, which I think is the correct direction ultimately, fixes it by dynamically fetching author data: https://github.com/Noname-SA/crAPI/tree/issue-6-alt

Means that if while using the app someone changes their email or avatar, the change is actually reflected on things they previously posted, rather than using an "at-that-moment" snapshot of who the author is.

[2022-06-27 14:58] #6 closed

[2022-06-27 16:04] mikeacjones opened #80 "Community Author Information is a "Snapshot" rather than live"
**Is your feature request related to a problem? Please describe.**
If you make a post in the community, your current avatar, email address, nickname, etc are all saved in Mongo at that moment. This causes a few issues:

* If the author modifies any of their information, this isn't reflect in the community
* Saving the image data in mongo creates overhead + the UI is less responsive when returning

[2022-06-27 17:19] mikeacjones commented on #80
Updated so that we are not duplicating author information in the mongo table:

Instead we're just storing the `authorid` for posts AND comments, and then using that to fetch back the _current_ author information.

<img width="1163" alt="image" src="https://user-images.githubusercontent.com/25686778/175998529-9b73004d-e336-4ab1-af20-836fdc2af276.png">

[2022-06-28 22:34] mikeacjones commented on #80
@piyushroshan proposed method of addressing this: https://github.com/OWASP/crAPI/pull/81

[2022-06-28 23:08] csestrada commented on #77
OS: Kali, Shell: Terminology

Replacing the version with latest led to a port error on a similar line.

[2022-07-15 10:41] mrbiggleswirth opened #83 "ERROR: An HTTP request took too long to complete, consider setting COMPOSE_HTTP_TIMEOUT to a higher value (current value: 60)."
---
**1. Describe the bug**
== A clear and concise description of what the bug is ==
.
Running docker-compose command always crashes my Amazon AWS EC2 server!

- July 2022

- Amazon AWS EC2: Ubuntu 22.04 LTS

- crapi-identity container memory: 512M

[code]
.
Then starting **docker-compose** always crashes my Amazon AWS EC2 server. Also it still complains that my current COMPOSE_HTTP_TIMEOUT value

[2022-07-15 14:40] mrbiggleswirth opened #84 "How do you stop crAPI web app from running on server?"
This is not a bug or a feature request. But I'm just wondering how do you stop the crAPI web app from running on the server?

[code]

[2022-07-15 15:24] piyushroshan commented on #84
`docker-compose -f docker-compose.yml --compatibility down` from the dir `up` was run.

[2022-07-15 16:02] mrbiggleswirth commented on #83
@piyushroshan Hi, these are my Amazon AWS EC2 specs:

[code]
.
[code]

[2022-07-15 18:13] piyushroshan commented on #83
Thanks for the info. Let me try this out with your configs.

[2022-07-15 19:38] mrbiggleswirth commented on #84
@piyushroshan Thanks, it worked!

[2022-07-15 19:39] #84 closed

[2022-07-16 08:13] mrbiggleswirth commented on #83
@piyushroshan I meant `t2.micro` not `t3.micro`. I have Amazon server containers created in two different regions. It always confuses me which one I'm working on.

[code]

[2022-07-23 17:10] Acheson7 commented on #77
The docker compose is still having issues, it looks like another person (possibly a teacher) found a solution. the video is the following https://www.youtube.com/watch?v=ByW_yobA2aM.
Is there a way to have it not rely on Ubuntu 18 as the base operating system for docker?

[2022-07-30 17:40] MarkMorow commented on #77
Same issue.
OS: Ubuntu 20.04.4 LTS
Shell: 5.15.0-41-generic

[2022-07-31 10:34] piyushroshan commented on #77
Its a docker compose issue. It can be fixed by upgrading docker-compose to latest. As I fix I will add docker compose compatibility version.

[2022-07-31 16:10] MarkMorow commented on #77
I was on the latest version from the package manager, 1.25.0. After removing it and pulling directly from docker I was then on v2.8.0. crAPI did then start as expected. For anyone else running into this I used the following commands.

sudo apt-get remove docker-compose

VERSION=$(curl --silent https://api.github.com/repos/docker/compose/releases/latest | grep -Po '"tag_name": "\K.*\d')

DESTINATIO

[2022-08-11 01:25] janibashamd commented on #77
Faced same issue and able to pull repo with above resolution steps.
Note: Even after above steps if docker-compose -v is not giving you output, then you have to copy docker-compose binary from /usr/local/bin /usr/bin/

[2022-08-11 02:00] janibashamd opened #94 "Application not accessible from EC2"
**Describe the bug**
Application is available from the machine but not from internet.

**To Reproduce**
1. Deploy EC2 instance with docker-compose
2. Check the Ec2 security group and open 8888 to access from outside
3. Follow steps provided in readme to install application
4. Try to access application using http::<ec2-publicip>:8888

**Expected behavior**
Application should be available from outsi

[2022-08-11 02:04] janibashamd commented on #94
I updated ports section to 0.0.0.0 in docker-compose after which application is accessible.

[2022-08-11 04:02] janibashamd opened #95 "Good to provide solution"
**Is your feature request related to a problem? Please describe.**
People can explore the challenges but always good to provide final solutions as well.

**Describe the solution you'd like**
Some doc or youtube videos will definitely help for novice member like me

**Describe alternatives if any you've considered**
Doc or Video reference

**Additional context**
Add any other context/screenshots/ro

[2022-08-16 07:50] sundaslatif1 opened #96 "Authentication issue for crapi identity"
sudo docker-compose pull
Pulling postgresdb      ... done
Pulling mongodb         ... done
Pulling crapi-identity  ... downloading
Pulling crapi-community ... done
Pulling crapi-workshop  ... done
Pulling crapi-web       ... done
Pulling mailhog         ... done

ERROR: for crapi-identity  unauthorized: authentication required
ERROR: unauthorized: authentication required

[2022-08-16 07:54] #96 closed

[2022-08-17 19:23] razvan22 commented on #18
Hi ! I just installed crAPI  and it works on http://localhost:8888 but no if i use the ip http://192.168.0.107:8888 , i want to access it from another machine it works with Juice Shop any suggestions?

[2022-08-19 09:23] zerodayhacker commented on #94
Hi janibashamd,
I'm running into the same problem. I'm new to docker-compose (and docker…). Can you give details on how you updated the ports section to 0.0.0.0?
Step by step would be greatly appreciated. 👋

[2022-08-19 09:57] zerodayhacker commented on #94
Hi janibashamd,
OK, never mind, I found out how to do it. 🙂👍
For anyone else wanting some help with this:
With a file editor, open the `docker-compose.yml` file which should be in your home directory (you may want to do a backup copy of the file first).
Go down to the `crapi-web:` section and under `ports:` change the following line:
`- "127.0.0.1:8888:80"`
into
`- "0.0.0.0:8888:80"`
Then save and

[2022-08-19 12:43] Sim4n6 commented on #77
The problem arises from the fact that the repository version of docker-compose is old.

[2022-08-19 17:33] radame2 opened #97 "Does crAPI's configuration allow it to be used as a Capture-the-flag (CTF) event?"
**Is your feature request related to a problem? Please describe.**
Curious to know if crAPI's configuration allows it to be used as Capture-the-flag (CTF) event

**Describe the solution you'd like**
A way to configure crAPI to return (e.g in the HTTP response body) a user configured custom flag when particular chanllenges are solved

**Describe alternatives if any you've considered**
None at the m

[2022-08-19 20:46] piyushroshan commented on #97
Not yet. We can have add a ctf mode for sure.

[2022-08-24 12:27] janibashamd commented on #95
WIll really appreciate if someone can look into this enhancement and provide a solution..

[2022-08-26 00:32] #94 closed

[2022-08-26 00:33] piyushroshan commented on #95
Sure. We will taking this up shortly to documents various ways to solutions. Hints and Detailed solutions.

[2022-08-26 02:13] janibashamd commented on #95
Since its a little urgent for me as i am working on owasp now, can you
atleast provide solution to validate token twice challenge !

On Fri, 26 Aug 2022, 06:04 Roshan Piyush, ***@***.***> wrote:

[2022-09-05 09:02] dmdhrumilmistry commented on #77
Might be, But even after upgrading to the latest version of docker referring [documentation](https://docs.docker.com/engine/install/debian/) it didn't work for me on Debian 11.

[2022-09-07 02:08] jpeezus opened #104 "Could Not Connect To The Mechanic API"
**Describe the bug**
A clear and concise description of what the bug is.
For some reason I am unable to connect to the mechanic API when attempting to send a message to the mechanic. I have no failures on the deployment
I can log in with no issue
I can add a vehicle
Post the community

**To Reproduce**
Steps to reproduce the behavior.
If applicable, add screenshots to help explain your problem.
Ad

[2022-09-14 06:09] jpeezus commented on #104
I installed it again and it work. closing this issue

[2022-09-14 06:09] #104 closed

[2022-09-19 15:41] vtnrd commented on #18
To find the 'docker-compose.yml config file':

1. run sudo docker ps and note the container ID associated with 'crapi-web'
2. Run sudo docker inspect <container ID> | grep com.docker.compose
3. Note the path of the file in the line that reads "com.docker.compose.project.config_files": "/home/<user>/docker-compose.yml",
4. cat '/home/<user>/docker-compose.yml' to view the config file.

[2022-09-20 03:15] vtnrd commented on #18
https://github.com/OWASP/crAPI/issues/18#issuecomment-1251197047

[2022-09-20 08:46] mrbiggleswirth opened #105 "How to make PC-2 access "PC-1: crAPI" in home network?"
Hi, I managed to setup and run crAPI without any problems on `PC-1` using IP address `192.168.2.10` in my home network.

With `PC-2` having IP address `192.168.2.20` I try to reach crAPI web app from my web browser by typing `192.168.2.10:8888`. But the crAPI website can't be found.

When I just type `192.168.2.10` in web browser I can reach `PC-1` apache2 web server.
Also I can ping `PC-1` from `

[2022-09-20 09:49] mrbiggleswirth commented on #105
@piyushroshan Thanks it worked!

[2022-09-20 09:49] #105 closed

[2022-09-23 01:34] naresh-a opened #106 "Docs link are broken"
**Describe the bug**
Links in docs overview are broken

**To Reproduce**
1. Go to https://github.com/OWASP/crAPI/blob/develop/docs/overview.md
2. Try Clicking on - For deployment options, visit [the setup instructions] and
To know more about [challenges] in crAPI, visit challenges.
3. You will see 404 error page

[2022-09-29 09:08] #106 closed

[2022-09-29 09:09] nikhil-rajesh commented on #106
Fixed in #98

[2022-10-04 06:25] piyushroshan opened #109 "Build an IAM module that can centrally manage the vulnerabilities like JWT/Access Key etc"
**Is your feature request related to a problem? Please describe.**
Build an IAM module that can centrally manage the vulnerabilities like JWT/Access Key etc
There are many JWT-based vulnerabilities that need we need to target.
Algorithm confusion, signature tampering, header tampering, JWT expiry, JWKS
Similarly, target Client ID/Secret forms.

**Describe the solution you'd like**
Build an IAM mod

[2022-10-04 10:21] JBAhire opened #110 "Add GRPC service in crAPI"
**Is your feature request related to a problem? Please describe.**
Currently, crAPI only supports REST endpoints. We can only identify and demo REST vulnerabilities with crAPI. We should add a GRPC service which will make it easier to demo GRPC vulnerabilities.

**Describe the solution you'd like**
@piyushroshan, can you please add more context on a plausible solution here?

[2022-10-04 10:25] JBAhire opened #111 "Add GraphQL service in crAPI"
**Is your feature request related to a problem? Please describe.**
Currently, crAPI only supports REST endpoints. We can only identify and demo REST vulnerabilities with crAPI. We should add a GraphQL service which will make it easier to demo GraphQL vulnerabilities.

**Describe the solution you'd like**
A GraphQL API using which we can demonstrate Authorization, Introspection, Batching, Injection

[2022-10-04 10:33] JBAhire opened #112 "Document all the vulnerabilities which currently exist in crAPI"
**Is your feature request related to a problem? Please describe.**
A documentation page around all the vulnerabilities that currently exist in crAPI will be very helpful. This will provide an easy way to evaluate if crAPI is right for our use cases.

**Describe the solution you'd like**
A table in README or a separate markdown file that lists down all the vulnerabilities crAPI has and maps them to

[2022-10-04 10:37] JBAhire opened #113 "Up-to-date postman collection as per all the supported vulnerabilities"
**Is your feature request related to a problem? Please describe.**
The current crAPI postman collection is 5 months old and there have been some enhancements afterward. Some of the changes might be in API specs and will need updates in API specs as well as postman collections.

**Describe the solution you'd like**
Can we have a GitHub workflow which runs on every PR or every week, checks for a dif

[2022-10-04 10:39] JBAhire opened #114 "Document explaining architecture of crAPI"
**Is your feature request related to a problem? Please describe.**
We need a clear and concise document that has an architecture diagram for crAPI and explain architecture and caveats.

**Describe the solution you'd like**
Separate architecture diagram and document linked to README.

[2022-10-04 10:43] JBAhire opened #115 "Add Kafka service in crAPI"
**Is your feature request related to a problem? Please describe.**
crAPI lacks messaging services. Adding some Kafka pipelines will help in demoing Kafka vulnerabilities as well.

**Describe the solution you'd like**
@inonshk ,@piyushroshan would like to hear your thoughts about doing this as well as solutions around it.

[2022-10-04 10:50] JBAhire opened #116 "A hacking guide which helps in finding and demoing vulnerabilities in crAPI"
**Is your feature request related to a problem? Please describe.**
A guide that helps in understanding steps to reproduce a current set of vulnerabilities that exist in crAPI.

**Describe the solution you'd like**
A document that lists down solutions to the challenges in crAPI. Something similar to what Juice shop has here: https://pwning.owasp-juice.shop/appendix/solutions.html

**Describe altern

[2022-10-04 10:57] JBAhire opened #117 "Provide troubleshooting guide for general issues while installing and running crAPI"
**Is your feature request related to a problem? Please describe.**
Users sometimes face problems with getting started with docker, Kubernetes, etc. May it be resource constraints, may it be configs, may it issues specific to some database or start-up. We should have a troubleshooting guide with all the known issues and their solutions.

**Describe the solution you'd like**
A troubleshooting docume

[2022-10-04 10:57] piyushroshan commented on #115
That can make crAPI bloated for vulnerabilities that can be demonstrated by other services. Not in favor of kafka here.

[2022-10-04 10:59] #115 closed

[2022-10-04 11:07] JBAhire opened #118 "Monitoring for crAPI"
**Is your feature request related to a problem? Please describe.**
Provide an easy way to set up crAPI along with monitoring setup. For example, with Kubernetes setup, I should be able to monitor golden signals for my Kubernetes setup with Kube-state metrics.

**Describe the solution you'd like**
Way to deploy an application with Prometheus and Grafana. The user should be able to create a Grafana

[2022-10-04 11:16] JBAhire opened #119 "Capability to demonstrate "CWE-798: Use of hard coded credentials" with crAPI"
**Is your feature request related to a problem? Please describe.**
crAPI currently doesn't demonstrate CWE-798. We want to add capability in crAPI which will help in demoing CWE-798.

**Describe the solution you'd like**
https://cwe.mitre.org/data/definitions/798.html

**Describe alternatives if any you've considered**
NA

**Additional context**
NA

[2022-10-04 12:44] JBAhire opened #120 "Document Happy Path for crAPI"
**Is your feature request related to a problem? Please describe.**
Currently, when we start crAPI, we don't know where to click or where to look to generate specific vulnerabilities. We should document a "happy path" or principal workflow which will help people to actually understand the working of the crAPI application.

**Describe the solution you'd like**
A document with "happy path" and link i

[2022-10-04 12:47] JBAhire opened #121 "Add direct command Injection vulnerability (CWE-77, OWASP API 8)"
**Is your feature request related to a problem? Please describe.**
Currently, we can use crAPI to demonstrate indirect command injection but we also want to add capabilities to demonstrate direct command injection.

**Describe the solution you'd like**
@piyushroshan , can you guide us here for a solution?

[2022-10-04 12:55] JBAhire opened #122 "Add Security Misconfiguration vulnerabilities in crAPI"
**Is your feature request related to a problem? Please describe.**
We should be able to demo security misconfiguration vulnerabilities with crAPI. Security misconfiguration falls under [API7:2019 Security Misconfiguration](https://github.com/OWASP/API-Security/blob/master/2019/en/src/0xa7-security-misconfiguration.md).

**Describe the solution you'd like**
There are CWEs which fall under security

[2022-10-04 13:02] JBAhire opened #123 "Add a way to demonstrate insufficient logging and monitoring vulnerabilities in crAPI"
**Is your feature request related to a problem? Please describe.**
crAPI doesn't have the capability to demo insufficient logging and monitoring vulnerability which is [OWASP API 10:2019](https://github.com/OWASP/API-Security/blob/master/2019/en/src/0xaa-insufficient-logging-monitoring.md).

**Describe the solution you'd like**
[API10:2019 Insufficient Logging & Monitoring](https://github.com/OWAS

[2022-10-04 18:23] ayushthe1 commented on #112
Hey ,i would like to work on this issue but currently i'm a beginner to open-source and dont know much .
Could you please guide me if possible. Thanks.

[2022-10-06 18:12] ArslanMazhar opened #126 "Error building crapi-identity image"
**Describe the bug**
i have facing the issue while installing i have delete my previous docker now install latest version by using guidence from https://computingforgeeks.com/install-docker-and-docker-compose-on-kali-linux/ now when i run by Build it yourself instruction it give issue
[sudo] password for kali:
+ set -e
+ dirname deploy/docker/build-all.sh
+ cd deploy/docker
+ find ../../services/

[2022-10-07 08:39] JBAhire opened #127 "Easy mode and Challenge mode for using crAPI"
**Is your feature request related to a problem? Please describe.**
There should be 2 ways to use crAPI.
- Easy mode would have an easily accessible swagger file.
- Challenge mode would not.

**Describe the solution you'd like**
As above.

[2022-10-07 08:41] JBAhire opened #128 "Improvements in User profile"
**Is your feature request related to a problem? Please describe.**
Some users feel that the User Profile can be improved. It is not clear to everyone that you can click on the profile photo to update account info.

**Describe the solution you'd like**
We should make editable user profile menu more eminent.

[2022-10-07 08:53] JBAhire opened #129 "Video upload functionality is not eminent"
**Is your feature request related to a problem? Please describe.**
Currently, an upload video functionality is not eminent on the edit profile screen. Here's how it looks like:
<img width="1296" alt="Screenshot 2022-10-07 at 2 17 52 PM" src="https://user-images.githubusercontent.com/26570044/194513341-64b5dc42-403c-4b91-825e-f66c412508c4.png">

**Describe the solution you'd like**
We can add a rec

[2022-10-08 01:42] piyushroshan commented on #129
We are trying to redesign the video upload to something simpler, that doesn't require rendering and prevents DB/UI slowing down.

[2022-10-08 06:58] AHarmlessPyro commented on #118
@drraghavendra will be taking this issue. Commenting on his behalf as part of the team.

[2022-10-08 07:07] AHarmlessPyro commented on #128
I am taking this @JBAhire

[2022-10-08 07:09] progshubham01 commented on #2
I will be taking this up @progshubham01

[2022-10-08 07:24] JBAhire commented on #118
Hey @AHarmlessPyro , can you ask @drraghavendra to add a comment here so we can assign the issue to him?

[2022-10-08 08:11] alok1929 commented on #111
Hey, we would like to work on this as a team. It would be me, @rakshith658, @imdewan, and @YashasKumar.

[2022-10-08 09:22] drraghavendra commented on #118
@JBAhire can you please assign the issue to me

[2022-10-08 09:27] dhruv-singhal-github commented on #110
@piyushroshan @mathew-jose for what features do we require grpc service?

[2022-10-08 09:55] afreen23 commented on #121
Hello,
I am working on a solution for this,

[2022-10-08 10:02] drraghavendra commented on #118
@AHarmlessPyro Please see the code,make necessary corrections asap.
[Prometheus and Grafana Dashboards Using Kubernetes.zip](https://github.com/OWASP/crAPI/files/9738942/Prometheus.and.Grafana.Dashboards.Using.Kubernetes.zip)

[2022-10-08 10:04] chahat99 commented on #120
Can you please assign it to me?

[2022-10-08 10:06] chahat99 commented on #129
Can you please assign it to me?

[2022-10-08 10:13] piyushroshan commented on #110
To showcase unsecured and unencrypted grpc channel. It would be best to convert the existing go service to grpc. This would showcase how API vulnerabilities are independent of framework used

[2022-10-08 10:19] dhruv-singhal-github commented on #110
@JBAhire I can work on this.

[2022-10-08 10:37] nikhil-rajesh commented on #126
It does not look like its a crapi bug rather its some issue with your docker setup. Could you try some solutions mentioned in this thread https://github.com/docker/cli/issues/2618
This might work: https://github.com/docker/cli/issues/2618#issuecomment-1043357778

[2022-10-08 11:36] melbin1997 commented on #95
Can you assign this issue to me as I will be able to provide solution documents for the following :
Challenge 8 - Get an item for free
Challenge 9 - Increase your balance by $1,000 or more

Are the solutions to be given as separate document for separate challenges ?

[2022-10-08 11:59] drraghavendra commented on #114
@JBAhire Please make a note as the below https://owasp.org/crAPI/docs/docs/setup.md redirected to 404 Error

[2022-10-08 12:05] sanket-mundra commented on #119
Can you please assign it to me?

[2022-10-08 12:32] sanket-mundra commented on #114
Can you please assign it to me?

[2022-10-08 12:51] janibashamd commented on #95
You can provide documentation or can add comment here for time being..

On Sat, 8 Oct 2022, 17:06 melbin1997, ***@***.***> wrote:

[2022-10-08 13:11] melbin1997 commented on #95
Can you look into the following pull request : https://github.com/OWASP/crAPI/pull/131

[2022-10-08 13:14] AHarmlessPyro commented on #118
@drraghavendra can you hook this up to the different services ? Right now this is just the kubernetes files for an independent prometheus and grafana setup.

Once the necessary connections are made, we'd need to make deployment files for kubernetes, along with docker compose and vagrant.

[2022-10-08 13:42] drraghavendra commented on #118
@AHarmlessPyro
[Deploymentfiles.zip](https://github.com/OWASP/crAPI/files/9739361/Deploymentfiles.zip) these files will work for above comment

[2022-10-08 14:05] drraghavendra commented on #126
Solution: run "systemctl cat docker.service" , and it will tell you where the docker service file is located. edit /lib/systemd/system/docker.service with your favorite text editor append "NetworkManager-wait-online.service" to line 4, that line should start with the word "After=" run "systemctl daemon-reload" to update your changes to the service file.

 As I have Worked on Debian 10 and 11.

[2022-10-08 15:45] drraghavendra commented on #123
This Link https://crashtest-security.com/insufficient-logging-monitoring-guide/ will help you

[2022-10-08 16:12] testingGarage commented on #113
@JBAhire Assign this ticket to me.

Also please share the API specs which have the list of APIs used in the crAPI.
Please do ask for the information that you need to assist me.

[2022-10-08 16:18] piyushroshan commented on #113
Will need to update the api spec as well. Which doesn't contain some of the APIs. We need to automate api spec validation based on postman collection

[2022-10-08 16:19] testingGarage commented on #114
@JBAhire please assign this ticket to me.

[2022-10-08 16:19] piyushroshan commented on #113
There are hidden apis that are not documented. Part of the challenge which should remain hidden IMO.

[2022-10-08 16:26] testingGarage commented on #113
@piyushroshan
What's the goal here?
What has to be done with this collection?
I see one task from @JBAhire, that is, to have a workflow that runs on every PR or every week.

What else?

Suppose, if I have to fix this collection and include other APIs, I will need the list of APIs that are not available in this collection,  right?  If you say, those missing APIs that are added now and not present i

[2022-10-08 16:33] piyushroshan commented on #113
One API that I see missing is get specific order workflow. i.e order/order-id. Others please audit the flow from UI to validate and update both the postman collection and api spec. The automation to validate the spec and postman collection are in sync can be taken as another issue.

[2022-10-08 16:37] Apollo9999 commented on #117
@JBAhire Please assign to me

[2022-10-08 16:37] Apollo9999 commented on #117
Links to look out for  1) https://www.youtube.com/watch?v=ByW_yobA2aM

[2022-10-08 17:01] Apollo9999 commented on #77
Please Use link https://docs.docker.com/compose/install/  rather than link  https://stackoverflow.com/questions/49839028/how-to-upgrade-docker-compose-to-latest-version

[2022-10-08 20:07] sanket-mundra commented on #77
Can you please assign it to me?

[2022-10-09 02:04] testingGarage commented on #114
@JBAhire , @piyushroshan

Please have a look at this PR -- https://github.com/OWASP/crAPI/pull/136

[2022-10-09 03:06] drraghavendra commented on #123
Pull Request Details are  as follows https://github.com/OWASP/crAPI/pull/137

[2022-10-09 10:48] sanket-mundra commented on #117
Hey @JBAhire, have a look at this PR [#138](https://github.com/OWASP/crAPI/pull/138)

[2022-10-09 10:55] Apollo9999 commented on #2
I will solve this

[2022-10-09 11:33] AHarmlessPyro commented on #83
I've tried running this on a fresh `t2.micro` running `ubuntu 22.04`.
<img width="643" alt="image" src="https://user-images.githubusercontent.com/32181677/194754159-df379a82-17e4-4391-a961-e54ee7324167.png">

It builds fine for me.

It seems that the root cause should be related to slow fetch speeds as mentioned by docker, but imo on the aws ec2 machine fetch speeds are fast enough that http timeo

[2022-10-09 11:39] AHarmlessPyro commented on #83
@JBAhire I haven't included this in the `hacktober` gform as it's not really a solution to the problem and (atleast for me) I haven't been able to recreate this locally or on a remote machine. Even a `HTTP_COMPOSE_TIMEOUT=1` (which should timeout after 1s, which should cause it to fail every time doesn't seem to be honored. This further reinforces the idea that the env var isn't honored by docker

[2022-10-09 11:59] Apollo9999 commented on #2
@piyushroshan please review

[2022-10-11 16:23] afreen23 commented on #121
Hello @piyushroshan @JBAhire ,
Can we use the api  `/identity/api/v2/user/videos/convert_video` for exposing this vulnerability since it requires to run conversion command in bash ?

https://github.com/OWASP/crAPI/blob/ea6625d2dd9cf6b78435da2aabab791169bdd8bd/services/identity/src/main/java/com/crapi/service/Impl/ProfileServiceImpl.java#L241-L242

Though I am not sure what command is passed there

[2022-10-11 16:29] piyushroshan commented on #121
That's the indirect command injection in crAPI. We can for sure enhance in that direction. Since this is get request maybe provide a conversion param as get request that can invoke the same pipeline

[2022-10-14 10:35] JBAhire commented on #117
Done as part of #138 ! thanks, @sanket-mundra !

[2022-10-14 10:35] #117 closed

[2022-10-28 04:52] piyushroshan opened #144 "Add JWT expiration vulnerability"
**Is your feature request related to a problem? Please describe.**
Add JWT expiration vulnerability

**Describe the solution you'd like**
In application.conf of java service change
app.jwtExpiration=86400000
to
app.jwtExpiration=604800000

**Describe alternatives if any you've considered**
N/A

**Additional context**

[2022-10-31 06:55] #144 closed

[2022-10-31 10:34] piyushroshan commented on #144
#145

[2022-11-11 00:58] aaronhmiller opened #152 "Fails on AKS"
**Describe the bug**
Using ./k8s/base or Helm, both lead to an unworkable install of crAPI.

**To Reproduce**
1. connect to your AKS cluster
2. from the GitHub repo, https://github.com/OWASP/crAPI/tree/develop/deploy
3. try Helm (helm install crapi ./) or try ./deploy.sh

**Expected behavior**
A working install of crAPI in AKS.

**Actual behavior**
crapi-identity, crapi-workshop, and crapi-communi

[2022-11-11 01:55] aaronhmiller commented on #152
closing this out.

`helm install --namespace crapi crapi . --values values.yaml` and waiting awhile seemed to work

[2022-11-11 01:55] #152 closed

[2022-11-15 20:48] johanlindfors commented on #75
I am experiencing this issue as well today, on a Ubuntu 22.04 device. No vehicleId's appear in the response for recent posts.

[2022-11-16 03:32] rallapallinagarjun opened #154 "crAPI Postman Collection Issue"
The latest Postman collection is not loading on Postman, pls find a solution for that

[2022-11-16 03:41] rallapallinagarjun opened #155 "Challenge #13 : SQL Injection"
![image](https://user-images.githubusercontent.com/87417663/202077225-bc6484ea-d366-43e1-84c3-9ad6de0e4e17.png)

Challenge 12 and 13 are somewhat related to each other.
NoSQL Injection can be cracked “manually” on /community/api/v2/coupon/validate-coupon - {"coupon_code":"TRAC075"} on this endpoint.
The same endpoint cant have SQL injection attack, because the table will be a part of NoSQL DB. (fo

[2022-11-16 11:46] mo718 opened #156 "crapi-web Container "f6e54027f4ea" is unhealthy"
Hello, I run crAPI in the Ubuntu18.04, but when I run the command "docker-compose -f docker-compose.yml --compatibility up -d", it report the error: "ERROR: for crapi-web  Container "f6e54027f4ea" is unhealthy. "
the logs is:
Can't open /.keys/jwks.json for reading, No such file or directory
139965617173696:error:02001002:system library:fopen:No such file or directory:../crypto/bio/bss_file.c:69:f

[2022-11-17 09:18] piyushroshan commented on #156
`VERSION=develop docker-compose -f docker-compose.yml --compatibility up -d`
Seems like you are using compose file from develop and using main images.

[2022-11-17 09:20] piyushroshan commented on #155
Since the service tracking the coupon redemption is different, it can have its own stack. Do look at the apis/postman_collections to learn more.

[2022-11-17 09:21] piyushroshan commented on #154
Looking into it. Will update soon if that's the case.

[2022-11-17 09:58] yyxxzz commented on #156
i meet the same question

[2022-11-18 02:33] baicaiyihao commented on #156
i meet the same question too

[2022-11-18 04:27] piyushroshan commented on #156
Can you do a
`docker-compose -f docker-compose.yml pull`
and then
`docker-compose -f docker-compose.yml --compatibility up -d`
Locally present images might be outdated.

[2022-11-18 06:41] baicaiyihao commented on #156
I tried，but error

[code]

view logs

[code]

[2022-11-18 13:03] piyushroshan commented on #156
The fix has been merged. Can you verify with
Can you do a
`VERSION=develop docker-compose -f docker-compose.yml pull`
and then
`VERSION=develop docker-compose -f docker-compose.yml --compatibility up -d`
Locally present images might be outdated.

[2022-11-18 21:28] TheCookieMonster0101 commented on #156
had this a few hours ago:
aaa@aaa-virtual-machine:~$ docker-compose -f docker-compose.yml pull
Pulling postgresdb      ... done
Pulling mongodb         ... done
Pulling crapi-identity  ... done
Pulling crapi-community ... done
Pulling crapi-workshop  ... done
Pulling crapi-web       ... done
Pulling mailhog         ... done
aaa@aaa-virtual-machine:~$ docker-compose -f docker-compose.yml --compatib

[2022-11-18 23:37] TheCookieMonster0101 commented on #156
worked for me.

[2022-11-19 10:52] #128 closed

[2022-11-19 11:05] #77 closed

[2022-11-19 11:06] nikhil-rajesh commented on #126
Closing issue since no no response for more than 30 days. Please feel free to reopen if issue persists.

[2022-11-19 11:06] #126 closed

[2022-11-19 11:09] nikhil-rajesh commented on #122
Implemented one security misconfiguration vuln in #157

[2022-11-19 11:11] nikhil-rajesh commented on #154
Fixed in [commit](https://github.com/OWASP/crAPI/commit/6e149d1e7cdb2ac7dac80f53bc010484cb2fdba9). Please feel free to reopen issue if issue persists.

[2022-11-19 11:11] #154 closed

[2022-11-19 11:15] #119 closed

[2022-11-19 11:19] nikhil-rajesh commented on #116
A few have been implemented in [/docs/challengeSolutions.md](/docs/challengeSolutions.md)

[2022-11-19 11:21] nikhil-rajesh commented on #114
Merged #136

[2022-11-19 11:21] #114 closed

[2022-11-19 11:26] nikhil-rajesh commented on #116
Duplicated issue #95

[2022-11-19 11:27] #116 closed

[2022-11-19 11:31] nikhil-rajesh commented on #83
Closing as issue is stale and does not seem to be a crapi bug.
Please feel free to reopen if issue persists.

[2022-11-19 11:31] #83 closed

[2022-11-19 11:33] nikhil-rajesh commented on #76
Closing as issue is stale and bug could not be reroduced.
Please reopen if issue persists.

[2022-11-19 11:33] #76 closed

[2022-11-19 11:37] nikhil-rajesh commented on #72
Closing as issue is stale.
Please feel free to reopen if issue persists.

[2022-11-19 11:37] #72 closed

[2022-11-19 11:45] nikhil-rajesh commented on #156
Please reopen if issue still persists.

[2022-11-19 11:45] #156 closed

[2022-11-21 03:21] mo718 commented on #156
I tried，but error
[code]
view logs
[code]

[2022-11-21 04:06] baicaiyihao commented on #156
i meet the same question as mo718

[2022-11-21 05:46] piyushroshan commented on #156
Have you pulled the latest images?
`docker-compose -f docker-compose.yml pull`

[2022-11-21 06:32] baicaiyihao commented on #156
I use a new virtual machine
[code]

[2022-11-21 20:58] piyushroshan commented on #156
@baicaiyihao Sadly I have been unable to reproduce it. It could be a port conflict with another service. Could you dump logs from all the containers and provide them to us? Might help us narrow it down easily.

[2022-11-22 08:42] mo718 commented on #156
yes

[2022-11-22 09:11] baicaiyihao commented on #156
@piyushroshan yeah,I upload it to my repository. filename: containers.zip
https://github.com/baicaiyihao/crAPI_errorlogs

[2022-11-26 19:10] victorwaldron commented on #18
Hello, I installed craPI and I can open both http://localhost:8888 and http://localhost:8025/#, but when I try to register in craPI, and put the password and also use the one suggested by the system, this one by More than I change the password, I still get this message: Password should contain at least one digit, one small letter and one capital letter and should at least contain 8 characters.
I d

[2022-11-30 00:56] Antonbrn commented on #156
Step 1:  run docker-compose stop
- Stops running containers without removing them.

Step 2: run docker-compose down
- Stops containers and removes containers, networks, volumes, and images created by up.

Step 3:  run docker-compose -f docker-compose.yml --compatibility up -d